
# Generic files
*~
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Python specific
*.py[cod]

# Distribution & packaging
build/
lib/
bin/
dist/
